<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eseo.finaspetit.agileproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgileProject">
        <activity
            android:name=".main.views.NotificationView"
            android:parentActivityName=".main.views.MainActivity" />
        <activity
            android:name=".main.views.createSaloonView"
            android:parentActivityName=".main.views.MainActivity"/>
        <activity
            android:name=".main.views.ChatActivity"
            android:parentActivityName=".main.views.ChatActivity"/>

        <activity
            android:name=".main.views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>